*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-image: url('Images/background-panels.png');
  background-repeat: repeat;
}

.orbitron-pageTitle {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

#map-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: grab;
  z-index: 99;
} 

#map-container:active {
  cursor: grabbing;
}

#map-container {
  position: relative;
}

#map-container img {
  width: 100%;
  display: block;
}

#map-inner {
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
}

#filter-toggle {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  z-index: 100;
  height: 40px;
  padding: 8px 16px;
  background-color: white;
  color: #111111;
  border: 2px solid #111111;
  cursor: pointer;
  border-radius: 0.25rem;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-transform: lowercase;
}

#filter-panel {
  position: fixed;
  top: 0;
  left: -400px;
  width: 30%;
  max-width: 400px;
  height: 100vh;
  background-color: white;
  z-index: 200;
  overflow-y: auto;
  transition: left 0.3s ease;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  box-shadow: 4px 0 24px rgba(0, 0, 0, 0.15);
}

#filter-panel.open {
  left: 0;
}

#filter-close {
  display: block;
  margin-left: auto;
  width: fit-content;
  border: none;
  font-size: 1.2rem;
  color: black;
  cursor: pointer;
  padding: 8px 12px;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-appearance: none;
  appearance: none;
}

#filter-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0;
}

.filter-btn {
  padding: 1rem 16px;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1rem;
  color: #111111;
  text-transform: lowercase;
  border-radius: 0.25rem;
  background-color: white;
  border: 1px solid #1F7099;
  cursor: pointer;
  text-align: left;
  -webkit-appearance: none;
  appearance: none;
}

.filter-btn.active {
  border-color: #2EC0D7;
  background-color: #e7fbff;
  border: 2px solid #1F7099 ;
}

#clear-btn {
  padding: 8px 16px;
  text-align: center;
  margin-top: 0.5rem;
  background-color: white;
  color: #111111;
  border: 2px solid #111111;
  cursor: pointer;
  border-radius: 0.25rem;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-transform: lowercase;
  font-size: 1rem;
}

.pageTitle {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
  padding: 1rem; 
  /* position: fixed; 
  top: 1rem; 
  left: 1rem; */
  z-index: 100;
}

.orbitron-pageTitle {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
  /* position: fixed; 
  top: 1rem; 
  left: 1rem; */
  z-index: 100;
}

#legend-toggle {
  position: fixed;
  bottom: 64px;
  left: 1rem;
  z-index: 100;
  height: 40px;
  padding: 8px 16px;
  background-color: white;
  color: #111111;
  border: 2px solid #111111;
  cursor: pointer;
  border-radius: 0.25rem;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-transform: lowercase;
}

#legend-panel {
  position: fixed;
  top: 0;
  left: -400px;
  width: 348px;
  max-width: 400px;
  height: 100vh;
  background-color: white;
  z-index: 200;
  overflow-y: auto;
  transition: left 0.3s ease;
  padding: 1rem;
  box-shadow: 4px 0 24px rgba(0, 0, 0, 0.15);
}

#legend-panel.open {
  left: 0;
}

#legend-close {
  display: block;
  margin-left: auto;
  border: none;
  font-size: 1.2rem;
  color: black;
  cursor: pointer;
  padding: 8px 12px;
  position: sticky;
  right: 1rem;
  top: 1rem;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-appearance: none;
  appearance: none;
}

#legend-content {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0;
  justify-content:center ;
}

.headerLockup {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

@media (max-width: 768px) {

  .headerLockup.panel-open {
    transform: translateY(-100%);
    opacity: 0;
  }

  #filter-panel,
  #legend-panel {
    border-radius: 0.25rem 0.25rem 0 0;
  }

  #filter-btn {
    font-size: 1rem;
  }

  #filter-btn.active {
    font-size: 1rem;
  }

  #filter-toggle {
    font-size: 1rem;
  }
  #legend-toggle {
    font-size: 1rem;
  }
  #filter-panel {
    right: unset;
    left: 0;
    top: unset;
    bottom: -50vh;
    width: 100%;
    max-width: 100%;
    height: 50vh;
    transition: bottom 0.3s ease;
  }

  #filter-panel.open {
    bottom: 0;
  }

  #legend-panel {
    left: 0;
    top: unset;
    bottom: -50vh;
    width: 100%;
    max-width: 100%;
    height: 50vh;
    transition: bottom 0.3s ease;
  }

  #legend-panel.open {
    bottom: 0;
    left: 0;
  }

  #legend-close {
    position: sticky;
    top: 1rem;
    right: 1rem;
  }

}

.mainCTA {
  width: auto; 
  height: 40px; 
  padding: 8px; 
  background-color: blueviolet; 
  color: white; 
  position: fixed; 
  bottom: 40px; 
  left: 20px;
  z-index: 100;
}